.content-area{
    height: 100%;
}

.title-container{
    grid-column: span 3;
}

.title-container hr {
    margin-top: 20px;
    width: 80%;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: 2fr 2fr 20px 10px;
    height: 100vh;
}



@media (max-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) 200px;;
        height: 90%;
    }

    .footer {
        margin-top: 90px;
    }

    .card {
        height: 400px;
    }
}

@media (max-width: 900px) {
    .cards-container {
        display: flex;
        flex-direction: column;
    }
    .card {
        height: 350px;
        margin: 10px;
    }
    .card:hover {
        height: 450px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        margin: 30px 50px 30px 50px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.cards-container a{
    font-size: small;
    text-decoration: none;
    color: gray;
}

.card {
    color: white;
    margin: 40px 60px 40px 60px;
    max-width: 700ptx;
    max-height: 250px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #E07A5F;
    transition: max-height 0.9s ease-in-out, margin 0.5s ease-in-out;
    overflow: hidden;
}
.card h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}
.card ul{
    margin: 0px;
    display: none;
}
.card p{
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    margin: 20px;;
    padding: 20px;
    font-weight: normal;
    display: none;
    background-color: #F1F1F1;
    color: black;
    border-radius: 20px;
    font-size: 18px;
}

.card:hover {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 30px 50px 30px 50px;
    max-height: 470px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card:hover p{
    display: block;
}
.card:hover ul{
    list-style-type:disc;
    margin-top: 0px;
    display: block;
}
.card:hover li {
    font-size: 15px;
    margin: 0px 30px 0px 30px;
}

.card::after {
    max-height: 100px;
}