.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #1f1e1e; /* Distinct background color */
    color: white;
    text-align: center;
    padding: 15px 20px;
    width: 100vw;
    font-size: 14px;
}

.footer p{
    margin: 10px;
    font-weight: lighter;
}

.footer a {
    color: #E07A5F; /* Gold color for visibility */
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    margin-top: 20px
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width: 800px) {
    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }
}