/* Global Default Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #FFFCF2 ;
}

.container {
    display: grid;
    grid-template-areas:
    "header header header"
    "side-bar content-area  content-area"
    "footer footer foooter";
    height: 100%; /* Full screen height */
    grid-template-columns: 70px 1fr;
}

/* Content Area Global styles*/
.content-area {
    grid-area: content-area;
    margin-left: 50px;
    padding: 20px;
    transition: margin-left 0.5s ease;
    height: 100%;
}

/* Content area pushed to the right by sidebar hovering */
.side-bar:hover + .content-area{
    transition: margin-left 0.5s ease;
    margin-left: 200px;
}

/* Title Container Styles */
.title-container h1 {
    font-size: 50px;
    font-weight: 300;
    margin-top: 30px;
}
.title-container h2 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: lighter;
    padding-right: 40px;
}
.title-container h3{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 15px;
}
.title-container p{
    font-size: 20px;
    font-weight: normal;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.title-container hr {
    margin-top: 20px;
    width: 90%;
}

/* Small devices Global styles */
@media (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-areas:
        "header header"
        "side-bar side-bar"
        "content-area  content-area"
        "footer foooter";
        height: 100vh; /* Full screen height */
        grid-template-columns: 70px 1fr;
    }    
    .content-area {
        margin-left: 0px !important;/* Prevent shifting */
    }
    
    .title-container h1 {
        font-size: 34px;
        text-align: center;
    }

    .title-container h2 {
        font-size: 20px;
        padding-right: 30px;
        text-align: center;
    }
    .form-group label{
        font-size: 18px;
    }
}