
.header{
    display: flex;
    background-color: #011936;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.header {
    display: flex;
    padding: 10px 20px;
    width: 100%;
}

.header img p a {
    margin-left: 40px;
}
.header img {
    width: 70px;
    height: 70px;
}
.header p {
    margin: 10px;
    font-size: 30pt;
    color: #FFFCF2;
}
.header {
    font-weight: lighter;
    padding: 20px;
}
