/* Start of default values for Sidebar*/
.side-bar {
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    background-color: #0B2B53;
    transition: width 0.5s ease-in-out;
    z-index: 100;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    position: relative;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    transition: background 0.3s;
}


ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CCC5B9;
}

ul li img {
    width: 30px;
    transition: margin 0.3s;
    align-items: center;
}

ul li p {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    white-space: nowrap;
    transition: opacity 0.3s;
}

/* End of default values for Sidebar*/

/* Sidebar Interactions */

.side-bar:hover{
    width: 220px;
}

.side-bar:hover ul li img{
    margin-right: 10px;
}

.side-bar:hover ul li a p {
    display: block;
    opacity: 1;
}

.side-bar:hover ul li {
    justify-content: flex-start;
}
ul li:hover {
    background-color: #38869750;
}
li.active {
    background-color: #388697;
}
li.active:hover {
    background-color: #388697;
}

/* Mobile Small Screens */
@media (max-width: 900px) {
    .side-bar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .side-bar ul {
        display: flex;
        justify-content: space-around;
    }

    .side-bar ul li {
        margin: 0;
        padding: 5px;
    }

    .side-bar ul li img {
        width: 25px;
    }

    .side-bar ul li p {
        display: none !important;
    }

    .side-bar:hover {
        width: 100%;
    }
}